{% extends "base.html" %}
{% block content %}
<div class="p-4">
    <div class="container">
      <div class="row"> </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="p-0 text-light text-center">Registration Form</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
  <div class="p-1 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <p class="lead">Role</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Pick your Role</button>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="#">Mahasiswa
                <br>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Dosen</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Staff</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Username</p>
        </div>
        <div class="col-md-6">
          <form class="">
            <div class="form-group">
              <input type="email" class="form-control w-50" placeholder="Enter Username"> </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <p class="lead">Password</p>
        </div>
        <div class="col-md-6">
          <div class="">
            <form class="">
              <div class="form-group">
                <input type="email" class="form-control w-50" placeholder="Enter Password"> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Nomor Identitas</p>
        </div>
        <div class="col-md-6">
          <div class="">
            <form class="">
              <div class="form-group">
                <input type="email" class="form-control w-50" placeholder="Enter ID Number"> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Nama</p>
        </div>
        <div class="col-md-6">
          <div class="">
            <form class="">
              <div class="form-group">
                <input type="email" class="form-control w-50" placeholder="Enter Name"> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Tempat Lahir</p>
        </div>
        <div class="col-md-6">
          <div class="">
            <form class="">
              <div class="form-group">
                <input type="email" class="form-control w-50" placeholder="Enter birth location"> </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <p class="lead text-right">Tanggal Lahir</p>
            </div>
            <div class="col-md-6">
              <div class="">
                <form class="">
                  <div class="form-group">
                    <input type="email" class="form-control w-50" placeholder="Enter birth date"> </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <p class="lead text-right">Email</p>
            </div>
            <div class="col-md-6">
              <div class="">
                <form class="">
                  <div class="form-group">
                    <input type="email" class="form-control w-50" placeholder="Enter email"> </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <p class="lead text-right">Nomor HP</p>
            </div>
            <div class="col-md-6">
              <div class="">
                <form class="">
                  <div class="form-group">
                    <input type="email" class="form-control w-50" placeholder="Enter handphone number"> </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Status Kemahasiswaan</p>
        </div>
        <div class="col-md-6">
          <input type="email" class="form-control w-50" placeholder="Enter status">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">ID Universitas</p>
        </div>
        <div class="col-md-6">
          <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Pick your University</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="#">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
{% endblock %}